* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

header {
    height: 100px;
    background-color: darkslategrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.header-left {
    color: red;
}

input, button {
    padding: 5px;
    border-radius: 5px;
}

.container {
    width: 84%;
    margin: auto;
}

#current-research {
    color: white;
    display: none;
}

#current-research.active {
    display: block;
}

.box-film {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.list {
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid white;
    width: 195px;
    height: 215px;
    padding: 10px;
    margin: 15px;
}

.list li {
    margin-bottom: 10px;
}

.flag-size {
    width: 20px;
}
