* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

header {
    height: 100px;
    background-color: darkslategrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.header-left {
    color: red;
    display: flex;
    align-items: center;
}

.menu-options {
    display: flex;
    list-style-type: none;
    margin-left: 10px;
}

.menu-options li {
    margin-left: 20px;
}

.menu-options a {
    text-decoration: none;
    color: white;
}

input, button {
    padding: 5px;
    border-radius: 5px;
}

.container {
    width: 80%;
    margin: auto;
}

#current-research {
    color: white;
    display: none;
}

#current-research.active {
    display: block;
}

.box-film {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid white;
    height: 280px;
    margin-right: 7px;
    margin-top: 10px;
}

.list {
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 240px;
    width: 312px;
    padding: 10px;
    margin: 15px;
    overflow: hidden;
    display: none;
}

.list li {
    margin-bottom: 10px;
}

.flag-size {
    width: 20px;
}

.stars {
    color: yellow;
}

.not-found {
    width: 342px;
    height: 100%;
}

.poster {
    display: flex;
}

.wrapper:hover .list {
    display:block;
}

.wrapper:hover .poster {
    display: none;
}
